body {
  background-color: #431AF3;
  font-family: Arial, Helvetica, sans-serif;
}
.main-div {
  color: white;
}
.section-1-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-left {
  flex-grow: 88;
  padding-left: 40px;
}
.header-mid {
  flex-grow: 6;
  padding-left: 800px;
}
.header-right {
  flex-grow: 6;
  padding-right: 85px;
  margin-right: 60px;
  border: 0;
}
.header-button {
  border-radius: 100px;
  padding: 10px 30px;
  background-color: coral;
  color: white;
  font-weight: bold;
}
.init_picture {
  width: 375px;
  height: 375px;
  margin: 25px 33px 50px 33px;
}
.section-2-focus {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 200px;
}
.section-2-flex-1 {
  flex-grow: 2;
  /* padding-right:25px; */
  background-color: #431AF3;
  padding-left: 100px;
  transform: scale(1.27);
}
.section-2-flex-2 {
  flex-grow: 1;
  padding-left: 15px;
  background-color: #431AF3;
  border: 10px solid #431AF3;
  background-clip: padding-box;
  background-image: linear-gradient(to bottom right, #431AF3, #431AF3);
  margin-left: 50px;
}
.section-2-p1 {
  font-size: 31px;
  margin-bottom: 14px;
}
.section-2-p2 {
  font-size: 37px;
  font-weight: bold;
  margin-top: 14px;
}
.section-2-p3 {
  font-size: 16px;
  font-weight: lighter;
}
.section-2-button {
  border-radius: 100px;
  padding: 13px 60px;
  background-color: coral;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
}
.section-3-header-mid {
  align-content: center;
  padding: 95px 0 85px 655px;
}
.picture-3 {
  width: 425px;
  height: 221px;
  padding-left: 60px;
}
.section-4-tech-brain {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 45px;
}
.section-4-div-1 {
  flex-grow: 1;
  padding: 75px 0px 0px 180px;
}
.section-4-div-2 {
  flex-grow: 1;
  padding-right: 300px;
  padding-top: 95px;
}
.sect-4L {
  padding-right: 75px;
  font-size: small;
}
.section-4LR-p1 {
  font-weight: 900;
  font-size: 25px;
}
.section-4LR-p2-p3 {
  font-weight: 800;
  font-size: 13px;
  
}
.section-4p {
  font-size: small;
}
.section-4L-p4 {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 8px;
  font-weight: 800;
  font-size: 15px;
}
.section-4L-move {
  /* padding-bottom: 45px; */
  margin-top: 50px;
}
.section-4R-move {
  margin-top: -25px;
  padding-top: 75px;
  padding-left: 45px;
}
